.PromotionsBlock .img{
    height: 300px;
}

.PromotionsBlock .carousel{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.PromotionsBlock .text{
    color: black;
}

.PromotionsBlock .text2{
    color: white;
}